<div class="footer">© 2019 Nisum Technologies, Inc.
    <br>
    <a href=# class="foot">Terms and Conditions Privacy Policy Español</a>
    <br>
    <em>This is responive shopping cart layout using
        <b>Backbone.js ,Handlebars.js and Flex Design</b>

        <strong style="color:red"> -DHEERAJ MANTENA</strong>
    </em>
</div>