<div class="main">
    <div class="logo" style=" margin-left:30%; ">
        <img src="../../../assets/images/nisum_large.png" alt="Nisum-logo" width="60%"> </img>
    </div>
</div>

<hr>

<h2 style=" text-align:center ">BACKBONE.JS SHOPPING CART</h2>

<div class="myBtnContainer">

    <button data-filter="all" class="all-filter-btn active"> Show all</button>
    <button data-filter="kids" class="kids-filter-btn"> Kids</button>
    <button data-filter="Mens" class="mens-filter-btn"> Mens</button>
    <button data-filter="womens" class="womens-filter-btn"> Womens</button>


</div>


</div>
<br/>